## ACTUAL CODE

In [180]:
# refactoring required
# run this after master_df

In [181]:
import pandas as pd
import numpy as np

df = pd.read_csv('master_df.csv', index_col = 'date', parse_dates = True)

df['country'] = df['country'].str.replace("Hong Kong S. A. R", "Hong Kong S.A.R")
df['country'] = df['country'].str.replace("China-Taiwan", "China - Taiwan")
df['country'] = df['country'].str.replace("China-mainland", "China - mainland") # replacing 1 with 2
df['country'] = df['country'].str.replace("China - Mainland", "China - mainland") # replacing 3 with 2
df['country'] = df['country'].str.title()
df['country'] = df['country'].str.replace("Nationlity", "Nationality")

df['country'] = np.where(df['country'] == "Non-Nationality Based Issuances" , "*Non-Nationality Based Issuances", df['country'])
df = df[~df['country'].str.lower().str.contains(" by ")]

df.to_csv('master_df.csv')

## Data Cleaning 2.0

In [160]:
import pandas as pd

In [161]:
df = pd.read_csv('master_df.csv', index_col = 'date', parse_dates = True)
df.head(2)

                country visa_type  number
date
2017-03-01  Afghanistan        A1      14
2017-03-01  Afghanistan        A2      42

In [162]:
for country in list(df['country'].unique()):
    print(country)

Afghanistan
Albania
Algeria
Andorra
Anguilla
Angola
Antigua And Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas, The
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bosnia And Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei
Bulgaria
Burkina Faso
Burma
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Chile
China - Mainland
China - Taiwan
Colombia
Comoros
Congo, Democratic Republic Of The
Congo, Republic Of The
Costa Rica
Cote D'Ivoire
Croatia
Cuba
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Fiji
Finland
France
Gabon
Gambia, The
Georgia
Germany
Ghana
Gibraltar
Great Britain And Northern Ireland
Greece
Grenada
Guatemala
Guinea
Guinea - Bissau
Guyana
Haiti
Honduras
British National Overseas (Hong Kong) Passport
Hong Kong S.A.R.
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Korea, North
Korea, South
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macau S. A. R.
Macedonia
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritius
Mexico
Micronesia, Federated States Of
Moldova
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Namibia
Nauru
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
Norway
Oman
Pakistan
Palestinian Authority Travel Document
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Marshall Islands, Republic Of The
Romania
Russia
Rwanda
Samoa
San Marino
Sao Tome And Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
St Lucia
St. Vincent And The Grenadines
St. Kitts And Nevis
Sudan
Suriname
Swaziland
Sweden
Switzerland
Syria
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad And Tobago
Tunisia
Turkey
Turkmenistan
Turks And Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
*Non-Nationality Based Issuances
Uruguay
Uzbekistan
Vanuatu
Vatican City
Venezuela
Vietnam
Yemen
Zambia
Zimbabwe
Bosnia-Herzegovina
Democratic Republic Of The Congo
Guinea-Bissau
Republic Of Palau
Republic Of The Congo
Sudan, South
Federated States Of Micronesia
Great Britain & Northern Ireland
Western Sahara
**Eswatini
St. Helena
Eswatini
Palau
North Macedonia
Curacao
Macau S.A.R.
Saint Lucia
Saint Kitts And Nevis
Saint Vincent And The Grenadines
Marshall Islands
Micronesia

### For country

## Unique Values 
*Non-nationality based issuances <br>
*Non-Nationlity Based Issuances <br>
*Non-Nationality Based Issuances <br>
Non-Nationality Based Issuances <br>
<hr>
Nonimmigrant Visa Issuances By Nationality  variations<br>
Hong Kong S.A.R and Hong Kong S. A. R <br>
China-Taiwan and China - Taiwan <br>
china - Mainland, china - mainland and china-mainland <br>
Trinidad and Tobago <br>

In [163]:
# 1. Resolve for Sudan [one time]

In [164]:
# for april 2017, for Sudan, column:country was NaN, and column:visa_type had Sundan prefixed to visa type
# Solution:
# first strip Sudan out of the visa type
# second repalce NAN's with Sudan
# **Resolved** in ipynb: data_cleaning_expception_one_time

In [165]:
# 2. Resolve for HongKong

In [166]:
# for hongkong, there are three different labels
# 1. British National Overseas (Hong Kong) Passport
# 2. Hong Kong S. A. R.
# 3. Hong Kong S.A.R.
# Solution:
# Combine 2 and 3 (Hongkong S. A. R. with Hongkong S.A.R.) resulting in HongKong S.A.R (because it is the most recent)
# **Resolved**

In [167]:
df['country'] = df['country'].str.replace("Hong Kong S. A. R", "Hong Kong S.A.R")

In [168]:
# 3. Resolve for Taiwan

In [169]:
# for taiwan, there are two different labels
# 1. China-Taiwan
# 2. China - Taiwan
# Solution:
# Combine 1 and 2 (China-Taiwan with China - Taiwan) resulting in China - Taiwan (because it is the most recent)
# **Resolved**

In [170]:
df['country'] = df['country'].str.replace("China-Taiwan", "China - Taiwan")

In [171]:
# 4. Resolve for China
# 1. China-mainland
# 2. China - mainland
# 3. China - Mainland
# Soltuion:
# Replacing 1 and 3 with 2 resulting in China - mainland (because it is the most recent)

In [172]:
df['country'] = df['country'].str.replace("China-mainland", "China - mainland") # replacing 1 with 2
df['country'] = df['country'].str.replace("China - Mainland", "China - mainland") # replacing 3 with 2

In [173]:
# Resolve for non-nationality visa issuances
# *Non-nationality based issuances
# *Non-Nationlity Based Issuances
# *Non-Nationality Based Issuances [changed to this]
# Non-Nationality Based Issuances

In [174]:
df['country'] = df['country'].str.title()
df['country'] = df['country'].str.replace("Nationlity", "Nationality") 
import numpy as np
df['country'] = np.where(df['country'] == "Non-Nationality Based Issuances" , "*Non-Nationality Based Issuances", df['country'])

Nonimmigrant Visa Issuances By Nationality  variations

In [175]:
df = df[~df['country'].str.lower().str.contains(" by ")]

## Updating 'master.csv'

In [176]:
df.to_csv('master_df.csv')