Few issues in place

In [12]:
import pandas as pd
import datetime as dt

In [3]:
file_names = pd.read_csv('file_names.csv')
file_names = file_names['col1']

file_names[11] = 'december%202017%20-%20NIV%20Issuances%20by%20Nationlity%20and%20Visa%20Class'

# october2019: replace '202019%20-%20NIVw/ '202019%20NIV'
file_names[33] = 'october%202019%20NIV%20Issuances%20by%20Nationality%20and%20Visa%20Class'

# september2020: replace 'SEPTEMBER' w/ 'SEPT'
file_names[44] = 'sept%202020%20-%20NIV%20Issuances%20by%20Nationality%20and%20Visa%20Class'


# 2) missing months:

# drop jan2017 and feb 2017 because fiscal year starts March
# drop nov 2020 because origin website has not updated yet
file_names = file_names[2:-1]  # omitting first 2 elements and the last element

# fix indices
indices = range(0, len(file_names))
file_names.index = indices

In [8]:
# import all files from directory: csv_clean 
df_list =[]
for file_name in file_names:
    try:
        df_list.append(pd.read_csv(f'csv_clean/{file_name}.csv'))
    except:
        print(f'{file_name[:20]} not found')

november%202020%20-% not found

Pre-processing for DataFrames

In [20]:
# creating a list of dates to iterate over while indexing DataFrames
import datetime
from dateutil.relativedelta import relativedelta
date_list = []
start_date = datetime.datetime(2017, 3, 1) # 1st March 2017

for month in range(len(df_list)):
    date_list.append(start_date + relativedelta(months=+(month)))

for i in range(len(date_list)):
    print(date_list[i].isoformat())

2017-03-01T00:00:00
2017-04-01T00:00:00
2017-05-01T00:00:00
2017-06-01T00:00:00
2017-07-01T00:00:00
2017-08-01T00:00:00
2017-09-01T00:00:00
2017-10-01T00:00:00
2017-11-01T00:00:00
2017-12-01T00:00:00
2018-01-01T00:00:00
2018-02-01T00:00:00
2018-03-01T00:00:00
2018-04-01T00:00:00
2018-05-01T00:00:00
2018-06-01T00:00:00
2018-07-01T00:00:00
2018-08-01T00:00:00
2018-09-01T00:00:00
2018-10-01T00:00:00
2018-11-01T00:00:00
2018-12-01T00:00:00
2019-01-01T00:00:00
2019-02-01T00:00:00
2019-03-01T00:00:00
2019-04-01T00:00:00
2019-05-01T00:00:00
2019-06-01T00:00:00
2019-07-01T00:00:00
2019-08-01T00:00:00
2019-09-01T00:00:00
2019-10-01T00:00:00
2019-11-01T00:00:00
2019-12-01T00:00:00
2020-01-01T00:00:00
2020-02-01T00:00:00
2020-03-01T00:00:00
2020-04-01T00:00:00
2020-05-01T00:00:00
2020-06-01T00:00:00
2020-07-01T00:00:00
2020-08-01T00:00:00
2020-09-01T00:00:00
2020-10-01T00:00:00

In [21]:
# using the above created list of dates to index the DataFrame
def df_indexing(df, counter):
    """return a DT indexed DataFrame"""
    df= df_list[counter]
    df['date'] = date_list[counter]
    df.set_index('date', inplace = True)
    return(df)

In [22]:
#applying the abouve function to all DataFrames

indexed_df = {}
counter = 0
for df in df_list:
    indexed_df[f'df{counter}'] = df_indexing(df, counter) # returns an DT indexed DataFrame
    counter +=1

In [23]:
indexed_df.keys()

dict_keys(['df0', 'df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20', 'df21', 'df22', 'df23', 'df24', 'df25', 'df26', 'df27', 'df28', 'df29', 'df30', 'df31', 'df32', 'df33', 'df34', 'df35', 'df36', 'df37', 'df38', 'df39', 'df40', 'df41', 'df42', 'df43'])

In [24]:
# concatinating the DataFrames vertically
master_df = pd.concat(list(indexed_df.values()), axis = 0)

drop:\
Nonimmigrant Visa Issuances By Nationality -

merge:\
*Non-nationality based issuances \
*Non-Nationlity Based Issuances \
Non-Nationality Based Issuances

In [25]:
master_df.head()

                country visa_type  number
date
2017-03-01  Afghanistan        A1      14
2017-03-01  Afghanistan        A2      42
2017-03-01  Afghanistan        B1       1
2017-03-01  Afghanistan     B1/B2      87
2017-03-01  Afghanistan        F2       1