In [49]:
download_list

['january_2021', 'february_2021']

In [32]:
df = pd.read_csv('master_df.csv')

In [33]:
df.head()

         date      country visa_type  number
0  2017-03-01  Afghanistan        A1      14
1  2017-03-01  Afghanistan        A2      42
2  2017-03-01  Afghanistan        B1       1
3  2017-03-01  Afghanistan     B1/B2      87
4  2017-03-01  Afghanistan        F2       1

In [34]:
df.tail()

              date   country visa_type  number
143511  2020-11-01  Zimbabwe        G1      10
143512  2020-11-01  Zimbabwe        G4      19
143513  2020-11-01  Zimbabwe        J1       2
143514  2020-11-01  Zimbabwe        J2       3
143515  2020-11-01  Zimbabwe        K1       3

In [35]:
for file_name in download_list:
    try:
        monthly_df = pd.read_csv(f'csv_clean/{file_name}.csv')  # read csv file
        monthly_df['date'] = file_name.replace('_', '-')  # create a column:date, replace _ with -
        monthly_df['date']= pd.to_datetime(monthly_df['date'])  # convert column:date to Datatype: DateTime
        monthly_df.set_index('date', inplace = True) # set column:date as Index
        df = df.append(monthly_df)
    except:
        print(f'{file_name}.csv not found')

december_2020.csv not found
january_2021.csv not found
february_2021.csv not found