Few issues in place

In [1]:
filename = 'APRIL%202017%20-%20NIV%20Issuances%20by%20Nationality%20and%20Visa%20Class'

In [7]:
subtract =  '%20-%20NIV%20Issuances%20by%20Nationality%20and%20Visa%20Class'
filename = filename.replace(subtract, '')
filename

'APRIL%202017'

In [1]:
import pandas as pd
import datetime as dt

## 1) Importing dataframes

In [7]:
file_names = pd.read_csv('file_names.csv') # a one dimensional(supposedly) list of file names
file_names = file_names['col1']


# 1) fixing some inconsistencies in naming conventions (in source data)

# december2017: replace 'Nationltity' w/ 'Nationality' 
file_names[11] = 'december%202017%20-%20NIV%20Issuances%20by%20Nationlity%20and%20Visa%20Class'

# october2019: replace '202019%20-%20NIV w/ '202019%20NIV'
file_names[33] = 'october%202019%20NIV%20Issuances%20by%20Nationality%20and%20Visa%20Class'

# september2020: replace 'SEPTEMBER' w/ 'SEPT'
file_names[44] = 'sept%202020%20-%20NIV%20Issuances%20by%20Nationality%20and%20Visa%20Class'


# 2) missing months:

# drop 
# - jan2017 and feb 2017 
# - - because fiscal year starts March

# drop 
# - nov 2020 & dec 2020 
# - - because origin website has not updated yet

file_names = file_names[2:-2]  # omitting first 2 elements and the last 2 element

# fix indices
indices = range(0, len(file_names))  # Datatype: range
file_names.index = indices           # Assign ^^ to file_names's index

In [8]:
file_names

0     march%202017%20-%20NIV%20Issuances%20by%20Nati...
1     april%202017%20-%20NIV%20Issuances%20by%20Nati...
2     may%202017%20-%20NIV%20Issuances%20by%20Nation...
3     june%202017%20-%20NIV%20Issuances%20by%20Natio...
4     july%202017%20-%20NIV%20Issuances%20by%20Natio...
5     august%202017%20-%20NIV%20Issuances%20by%20Nat...
6     september%202017%20-%20NIV%20Issuances%20by%20...
7     october%202017%20-%20NIV%20Issuances%20by%20Na...
8     november%202017%20-%20NIV%20Issuances%20by%20N...
9     december%202017%20-%20NIV%20Issuances%20by%20N...
10    january%202018%20-%20NIV%20Issuances%20by%20Na...
11    february%202018%20-%20NIV%20Issuances%20by%20N...
12    march%202018%20-%20NIV%20Issuances%20by%20Nati...
13    april%202018%20-%20NIV%20Issuances%20by%20Nati...
14    may%202018%20-%20NIV%20Issuances%20by%20Nation...
15    june%202018%20-%20NIV%20Issuances%20by%20Natio...
16    july%202018%20-%20NIV%20Issuances%20by%20Natio...
17    august%202018%20-%20NIV%20Issuances%20by%20Nat...
18    september%202018%20-%20NIV%20Issuances%20by%20...
19    october%202018%20-%20NIV%20Issuances%20by%20Na...
20    november%202018%20-%20NIV%20Issuances%20by%20N...
21    december%202018%20-%20NIV%20Issuances%20by%20N...
22    january%202019%20-%20NIV%20Issuances%20by%20Na...
23    february%202019%20-%20NIV%20Issuances%20by%20N...
24    march%202019%20-%20NIV%20Issuances%20by%20Nati...
25    april%202019%20-%20NIV%20Issuances%20by%20Nati...
26    may%202019%20-%20NIV%20Issuances%20by%20Nation...
27    june%202019%20-%20NIV%20Issuances%20by%20Natio...
28    july%202019%20-%20NIV%20Issuances%20by%20Natio...
29    august%202019%20-%20NIV%20Issuances%20by%20Nat...
30    september%202019%20-%20NIV%20Issuances%20by%20...
31    october%202019%20NIV%20Issuances%20by%20Nation...
32    november%202019%20-%20NIV%20Issuances%20by%20N...
33    december%202019%20-%20NIV%20Issuances%20by%20N...
34    january%202020%20-%20NIV%20Issuances%20by%20Na...
35    february%202020%20-%20NIV%20Issuances%20by%20N...
36    march%202020%20-%20NIV%20Issuances%20by%20Nati...
37    april%202020%20-%20NIV%20Issuances%20by%20Nati...
38    may%202020%20-%20NIV%20Issuances%20by%20Nation...
39    june%202020%20-%20NIV%20Issuances%20by%20Natio...
40    july%202020%20-%20NIV%20Issuances%20by%20Natio...
41    august%202020%20-%20NIV%20Issuances%20by%20Nat...
42    sept%202020%20-%20NIV%20Issuances%20by%20Natio...
43    october%202020%20-%20NIV%20Issuances%20by%20Na...
Name: col1, dtype: object

### Use the above list of file names to import all dataframes via looping

In [9]:
# import all files from directory: csv_clean 
df_list =[] # list to store all dataframes
for file_name in file_names:
    try:
        df_list.append(pd.read_csv(f'csv_clean/{file_name}.csv'))
    except:
        print(f'{file_name[:20]} not found')

## 2) Pre-processing for DataFrames

### For Datetime indexing

In [14]:
# creating a list of dates to iterate over while indexing DataFrames
import datetime
from dateutil.relativedelta import relativedelta
date_list = []
start_date = datetime.datetime(2017, 3, 1) # 1st March 2017

for month in range(len(df_list)):
    date_list.append(start_date + relativedelta(months=+(month)))

for i in range(len(date_list)):
    print(date_list[i].isoformat())

2017-03-01T00:00:00
2017-04-01T00:00:00
2017-05-01T00:00:00
2017-06-01T00:00:00
2017-07-01T00:00:00
2017-08-01T00:00:00
2017-09-01T00:00:00
2017-10-01T00:00:00
2017-11-01T00:00:00
2017-12-01T00:00:00
2018-01-01T00:00:00
2018-02-01T00:00:00
2018-03-01T00:00:00
2018-04-01T00:00:00
2018-05-01T00:00:00
2018-06-01T00:00:00
2018-07-01T00:00:00
2018-08-01T00:00:00
2018-09-01T00:00:00
2018-10-01T00:00:00
2018-11-01T00:00:00
2018-12-01T00:00:00
2019-01-01T00:00:00
2019-02-01T00:00:00
2019-03-01T00:00:00
2019-04-01T00:00:00
2019-05-01T00:00:00
2019-06-01T00:00:00
2019-07-01T00:00:00
2019-08-01T00:00:00
2019-09-01T00:00:00
2019-10-01T00:00:00
2019-11-01T00:00:00
2019-12-01T00:00:00
2020-01-01T00:00:00
2020-02-01T00:00:00
2020-03-01T00:00:00
2020-04-01T00:00:00
2020-05-01T00:00:00
2020-06-01T00:00:00
2020-07-01T00:00:00
2020-08-01T00:00:00
2020-09-01T00:00:00
2020-10-01T00:00:00

In [15]:
# using the above created list of dates to index the DataFrame
def df_indexing(df, counter):
    """return a DT indexed DataFrame"""
    df= df_list[counter]
    df['date'] = date_list[counter]
    df.set_index('date', inplace = True)
    return(df)

In [16]:
#applying the above function to all DataFrames
indexed_df = {}
counter = 0
for df in df_list:
    indexed_df[f'df{counter}'] = df_indexing(df, counter) # returns an DT indexed DataFrame
    counter +=1

In [17]:
indexed_df.keys()

dict_keys(['df0', 'df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20', 'df21', 'df22', 'df23', 'df24', 'df25', 'df26', 'df27', 'df28', 'df29', 'df30', 'df31', 'df32', 'df33', 'df34', 'df35', 'df36', 'df37', 'df38', 'df39', 'df40', 'df41', 'df42', 'df43'])

In [18]:
# concatinating the DataFrames vertically
master_df = pd.concat(list(indexed_df.values()), axis = 0)

drop:\
Nonimmigrant Visa Issuances By Nationality -

merge:\
*Non-nationality based issuances \
*Non-Nationlity Based Issuances \
Non-Nationality Based Issuances

In [19]:
master_df.head()

                country visa_type  number
date
2017-03-01  Afghanistan        A1      14
2017-03-01  Afghanistan        A2      42
2017-03-01  Afghanistan        B1       1
2017-03-01  Afghanistan     B1/B2      87
2017-03-01  Afghanistan        F2       1

In [44]:
master_df_old = pd.read_csv('master_df.csv', index_col = 'date')
master_df_old.head()

                country visa_type  number
date
2017-03-01  Afghanistan        A1      14
2017-03-01  Afghanistan        A2      42
2017-03-01  Afghanistan        B1       1
2017-03-01  Afghanistan     B1/B2      87
2017-03-01  Afghanistan        F2       1

In [43]:
master_df.head()

                country visa_type  number
date
2017-03-01  Afghanistan        A1      14
2017-03-01  Afghanistan        A2      42
2017-03-01  Afghanistan        B1       1
2017-03-01  Afghanistan     B1/B2      87
2017-03-01  Afghanistan        F2       1

In [41]:
master_df.to_csv('master_df.csv', sep=',')

In [45]:
country = 'Nepal'
visa_type = 'F1'

In [58]:
number = master_df[(master_df['country'] == country) & (master_df['visa_type'] == visa_type)]

In [59]:
number.head()

           country visa_type  number
date
2017-03-01   Nepal        F1      36
2017-04-01   Nepal        F1     119
2017-05-01   Nepal        F1     451
2017-06-01   Nepal        F1     929
2017-07-01   Nepal        F1     560

In [63]:
master_df.loc['2017-03']

                country visa_type  number
date
2017-03-01  Afghanistan        A1      14
2017-03-01  Afghanistan        A2      42
2017-03-01  Afghanistan        B1       1
2017-03-01  Afghanistan     B1/B2      87
2017-03-01  Afghanistan        F2       1
...                 ...       ...     ...
2017-03-01     Zimbabwe        L1       1
2017-03-01     Zimbabwe        M1       1
2017-03-01     Zimbabwe        P1       1
2017-03-01     Zimbabwe        P3       6
2017-03-01     Zimbabwe        Q1       2

[3609 rows x 3 columns]

In [ ]:
number = master_df[(master_df['country'] == country) & (master_df['visa_type'] == visa_type)]