### ACTUAL CODE

In [7]:
pd.read_csv('master_df.csv').tail()

                       date   country visa_type  number
145909  2020-12-01 00:00:00  Zimbabwe        G4       5
145910  2020-12-01 00:00:00  Zimbabwe        J1       1
145911  2020-12-01 00:00:00  Zimbabwe        J2       3
145912  2020-12-01 00:00:00  Zimbabwe        L1       1
145913  2020-12-01 00:00:00  Zimbabwe        P1       1