In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("master_df.csv")

In [10]:
df.head()

       country visa_type  number
0  Afghanistan        A1      14
1  Afghanistan        A2      42
2  Afghanistan        B1       1
3  Afghanistan     B1/B2      87
4  Afghanistan        F2       1

In [7]:
list(df['visa_type'].unique())

['A1',
 'A2',
 'B1',
 'B1/B2',
 'F2',
 'G2',
 'G4',
 'H4',
 'J1',
 'J2',
 'K1',
 'C1/D',
 'E2',
 'F1',
 'H1B',
 'L1',
 'M1',
 'P1',
 'P3',
 'B2',
 'D',
 'L2',
 'O1',
 'G1',
 'C3',
 'H2B',
 'C1',
 'E1',
 'I',
 'K2',
 'M2',
 'O2',
 'O3',
 'P4',
 'R1',
 'R2',
 'TD',
 'E3',
 'E3D',
 'E3R',
 'H2A',
 'H3',
 'A3',
 'CW2',
 'G3',
 'NATO1',
 'NATO2',
 'NATO4',
 'NATO6',
 'Q1',
 'U3',
 'C2',
 'G5',
 'TN',
 'H1B1',
 'CW1',
 'E2C',
 'U2',
 'U1',
 'U5',
 'P2',
 'T3',
 'U4',
 'T2',
 'T6',
 'K3',
 'K4',
 'T5',
 'NATO5',
 'N8',
 'SudanA1',
 'SudanA3',
 'SudanB1',
 'SudanB1/B2',
 'SudanB2',
 'SudanD',
 'SudanF1',
 'SudanG1',
 'SudanG2',
 'SudanG4',
 'SudanH1B',
 'SudanH4',
 'SudanI',
 'SudanJ1',
 'SudanK1',
 'NATO7',
 'T4',
 'BBBCC',
 'BBBCV',
 'November',
 'December',
 'January',
 'H1C',
 'February',
 'March',
 'April',
 'N9',
 'May',
 'June',
 'July',
 'August',
 'S7']

In [ ]:
df['visa_type']