In [7]:
import pandas as pd
import numpy as np

In [8]:
file_name = 'master_df'

In [12]:
df = pd.read_csv(f'{file_name}.csv')

df['country'] = df['country'].str.replace("Hong Kong S. A. R", "Hong Kong S.A.R")
df['country'] = df['country'].str.replace("China-Taiwan", "China - Taiwan")
df['country'] = df['country'].str.replace("China-mainland", "China - mainland")  # replacing 1 with 2
df['country'] = df['country'].str.replace("China - Mainland", "China - mainland")  # replacing 3 with 2
df['country'] = df['country'].str.title()
df['country'] = df['country'].str.replace("Nationlity", "Nationality")

df['country'] = np.where(df['country'] == "Non-Nationality Based Issuances", "*Non-Nationality Based Issuances",
                         df['country'])
df = df[~df['country'].str.lower().str.contains(" by ")]
df.set_index('date')

df.to_csv(f'{file_name}.csv')

In [13]:
df.head()

   Unnamed: 0        date      country visa_type  number
0           0  2017-03-01  Afghanistan        A1      14
1           1  2017-03-01  Afghanistan        A2      42
2           2  2017-03-01  Afghanistan        B1       1
3           3  2017-03-01  Afghanistan     B1/B2      87
4           4  2017-03-01  Afghanistan        F2       1